
*, *::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    background-color: #272625;
    width: 100%;
    overflow-x: hidden;

}

section {
    margin: 0;
    padding: 0;
    width: 100%;

}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

/* ------- HEADER --------- */

.navbar-toggler {
    border: none;
    font-size: 1.25 rem;
}

button .btn-close {
    color: #fff;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #fff;
    font-weight: 500;
}

.nav-item .nav-link:hover, .nav-item .nav-link.active{
    color: #ffd150;
}

@media (min-width: 991px) {
    .nav-item .nav-link:hover, .nav-item .nav-link.active{
        border-bottom: 1px solid #ffd150;
    }
}

.btn{
    background-color: #ffd150;
    padding: 8px 16px;
    color: #111111;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
    color: #fff;
    background-color: #ffa500;
}
.navbar{
    min-height: 70px;
    display: flex;
   /* justify-content: space-between;*/
   justify-content: center;
    align-items: center;
    padding: 0 16px;
}



.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-branding{
    font-size: 2rem;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffd150;
}

@media (max-width:991px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
       position: fixed;
        left:-100%;
        top: 70px;
        gap:0 ;
        flex-direction: column;
        /*background-color: #262626;*/
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}

.offcanvas {
    background-color: #4c4942;
}

.offcanvas .btn-close {
    background-color: #fff;
}

.dropdown-menu {
    background-color: #4c4942;
}

.dropdown-menu li a {
    font-size: 12px;
    color: #fff;
}

.dropdown-menu li a:hover {
    color: #ffd150;
    background-color: #4c4942;
}

.stars-container {
    display: inline-block; /* Display stars in line */
    color: #ffd150;
}

.rating-text {
    display: inline-block; /* Display rating text in line */
   /* vertical-align: middle; /* Align text vertically with stars */
    margin-left: 5px; /* Add some space between stars and text */
    font-weight: 500;
    padding: 0px;
}




/* ------- HERO --------- */


/*.hero {
   width:35em;
}*/


.hero-container {
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.hero-text {
    flex: 1;
    padding: 7px;
    color: #fff;
    width: 100%;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.hero-text h1 {
    font-weight: 500;
    line-height: 48px;
}

.yellow-hero-text {
    color: #ffd150;
}


.cta-btn {
    width: 80%;
    max-width: 500px;
    background-color: #ffc31e;
    color: #242323;
}

.hero-text p, .services-title span {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.6px;
    padding: 24px 0;
}

.hero-image-container {
    flex: 1;
    width: 100%;
}

.hero-image {
    width: 70%;
    min-width: 300px;
    max-width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .social-proof-container {
        position: relative;
       /* top: 50vh;*/
       top: 50%;
        margin: 100px 0 0 0;
    }

    /*.product-shot {
        margin-top: 10px;
    }*/
}

/*@media (max-width:767px) {
    .brands{
        
    }
}*/

.email-2 {
    /*height: 100vh;*/
    height: 80%;
}

.hero-btns{
    display: flex;
    flex-direction: column; /* Stack children vertically */
    margin-left: 20px;
}

.container-hero{
        width: auto; /* Prevent the default full width */
        max-width: 100%; /* Prevent it from exceeding its parent's width */
}

/* ------- SOCIAL PROOF--------- */

.social-proof-container {
    margin: 3px ;
    padding: 3px 3px;
    /*background-color: #9b9b9b;*/
}

.cta-btn-container{
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 24px;
}

.rating p {
    font-weight: 600;
}

.fa-star  .fa-star-half-o{
    color: #ffd150;
}

.brands h2 {
    text-align: center;
}

.product-shot{
    padding: 5px;
   
}

.product-shot-title h2, .services-title h2{
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 32px;
}

.screenshots-container {
    flex-wrap: wrap;
}

/*.screenshots-container  {
    flex: 1;
}*/

.screenshots {
    border-radius: 8px;
    height: 200px;
   /* width: 550px;*/
    margin: 5px;
    
}

@media (min-width:768px){
    .screenshots{
        margin-bottom: 15px;
    }
}

@media (min-width:1250px) {
    .screenshots{
        margin-left: 60px;
    }
}

@media (min-width: 1435px){
    .screenshots{
        height: 250px;
        width: 450px;
        margin-left: 75px;
    }
}

@media (min-width: 1440px){
    .screenshots{
        height: 300px;
        width: 600px;
        margin-left: 65px;
    }
}

@media (min-width: 2000px){
    .screenshots{
        height: 450px;
        width: 900px;
        margin-left: 70px;
    }
}

@media (max-width: 767px) {
    .product-shot-title {
      font-size: 1.5rem; /* Adjust font size */
    }
  
    .screenshots-container {
      flex-direction: column; /* Stack images vertically */
    }
  
    .screenshots {
      margin: 2px; /* Increase margin for better spacing */
      width: 100%; /* Full-width images on small screens */
    }
  }

/*.services{
    height: 100vh;
}*/

.services-title  {
    margin-top: 15px;
    color: #fff;
    text-align: center;
    margin-bottom: 42px;
}

.services-title h2 {
    margin-bottom: 8px;
}

.services-container p {
    font-size: 18px;
    color: #fff;
    margin: 12px 0;
    text-align: center;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Adjust min-width as needed */
    grid-gap: 20px; /* Add spacing between items */

}

.grid-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; /* Center content within each item */
    font-size: 14px;
    color: #fff;
    border: 0.4px #111111 ;
    background-color: #3a3a3a;
    opacity: 0.9;
    border-radius: 4px;
    padding: 8px;
  }

  #grid-item-last{
    grid-column-start: 2  ;
    grid-column-end: 3;
  }
  
 @media (max-width:1435px){
    #grid-item-last{
        grid-column-start: 1  ;
        grid-column-end: 2;
      }
 }


@media (max-width: 768px) {
    .services-list {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust for smaller screens */
    }
  }

@media (min-width: 1500px){
    .services-list{
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); /* Adjust min-width as needed */
    }
}

@media (min-width: 1950px){
    .services-list{
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); /* Adjust min-width as needed */
    }
}

@media (min-width: 2550px){
    .services-list{
        grid-template-columns: repeat(auto-fit, minmax(800px, 1fr)); /* Adjust min-width as needed */
    }
}

@media (min-width: 3350px){
    .services-list{
        grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr)); /* Adjust min-width as needed */
    }
}

@media(max-width: 425px){
#grid-item-last{
    grid-column-start: 1;
    grid-column-end: 2;
}
  }

h5 img {
    width: 48px;
}

.min.hero-image {
    min-width: 280px;
}

.proof {
    gap: 12px;
    align-items: center;
}

.services-container.testimonials {
    margin: 50px 0;
}

.services-list.clients h5{
    flex-direction: column;
    padding: 16px 36px;
    line-height: 28px;
}

.services-title.testimonial-salute {
    padding: 0 24px;
    margin: 0;
}

.services-title.testimonial-salute span {
    max-width: 70ch;
}

.services-container p.testimonial {
    margin-bottom: 36px;
    text-transform: uppercase;
    font-size: 16px;
}

.social-proof-2 {
   /* margin: 44px 0;*/
   padding-bottom: 20px;
}

.social-proof-2 h2.montserrat {
    text-align: center;
    color: #fff;
}

.mailer{
    height: 30px;
    width: 130px;
}
.asani{
    height: 50px;
    width: 150px;
}
.segment{
    height: 50px;
    width: 150px;
}
.klaviyo{
    height: 50px;
    width: 150px;
}
.omnisend{
    height: 50px;
    width: 150px;
}
.shopify{
    height: 50px;
    width: 150px;
}
.openai{
    height: 50px;
    width: 150px;
}
.activecamp{
    height: 50px;
    width: 150px;
}
.sem{
    height: 70px;
    width: 150px;
}
.justuno{
    height: 40px;
    width: 180px;
}
.yotpo{
    width: 100px;
}
.sendin{
     width: 180px;
}
.marketo{
    height: 30px;
    width: 150px;
}
.wardpres{
    height: 40px;
    width: 150px;
}
.mailchimp{
    height: 50px;
    width: 150px;
}

.brands-2 .container .row{
    margin: 50px;
}

@media (min-width: 1200px){
    .mailer{
        height: 50px;
        width: 180px;
    }
    .asani{
        height: 80px;
        width: 180px;
    }
    .segment{
        height: 80px;
        width: 180px;
    }
    .klaviyo{
        height: 80px;
        width: 180px;
    }
    .omnisend{
        height: 80px;
        width: 180px;
    }
    .shopify{
        height: 80px;
        width: 180px;
    }
    .openai{
        height: 80px;
        width: 180px;
    }
    .activecamp{
        height: 80px;
        width: 180px;
    }
    .sem{
        height: 100px;
        width: 180px;
    }
    .justuno{
        height: 70px;
        width: 210px;
    }
    .yotpo{
        width: 130px;
    }
    .sendin{
         width: 210px;
    }
    .marketo{
        height: 50px;
        width: 180px;
    }
    .wardpres{
        height: 70px;
        width: 180px;
    }
    .mailchimp{
        height: 80px;
        width: 180px;
    }
}
@media (min-width: 1351px){
   
    .mailer{
        height: 80px;
        width: 210px;
    }
    .asani{
        height: 110px;
        width: 210px;
    }
    .segment{
        height: 110px;
        width: 210px;
    }
    .klaviyo{
        height: 110px;
        width: 210px;
    }
    .omnisend{
        height: 110px;
        width: 210px;
    }
    .shopify{
        height: 100px;
        width: 210px;
    }
    .openai{
        height: 110px;
        width: 210px;
    }
    .activecamp{
        height: 110px;
        width: 210px;
    }
    .sem{
        height: 130px;
        width: 210px;
    }
    .justuno{
        height: 100px;
        width: 240px;
    }
    .yotpo{
        width: 160px;
    }
    .sendin{
         width: 240px;
    }
    .marketo{
        height: 80px;
        width: 210px;
    }
    .wardpres{
        height: 100px;
        width: 210px;
    }
    .mailchimp{
        height: 110px;
        width: 210px;
    }
}

@media (min-width: 1500px){
  
    .mailer{
        height: 200px;
        width: 350px;
    }
    .asani{
        height: 200px;
        width: 450px;
    }
    .segment{
        height: 200px;
        width: 350px;
    }
    .klaviyo{
        height: 200px;
        width: 350px;
    }
    .omnisend{
        height: 200px;
        width: 300px;
    }
    .shopify{
        height: 200px;
        width: 300px;
    }
    .openai{
        height: 200px;
        width: 350px;
    }
    .activecamp{
        height: 200px;
        width: 300px;
    }
    .sem{
        height: 200px;
        width: 300px;
    }
    .justuno{
        height: 200px;
        width: 300px;
    }
    .yotpo{
        width: 300px;
    }
    .sendin{
         width: 350px;
    }
    .marketo{
        height: 200px;
        width: 350px;
    }
    .wardpres{
        height: 200px;
        width: 300px;
    }
    .mailchimp{
        height: 200px;
        width: 350px;
    }
}



.social-proof .cta-btn {
    margin: 36px;
}

.footer {
    color: #fff;
    padding: 30px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 28px 80px 0 28px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    flex-basis: 300px;
    gap: 28px;
}



.logo-wrapper {
    /*gap: 10px;*/
    align-items: flex-start;
}

.logo img {
    max-width: 200px;
}

.sign-off {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    color: #fff;
 
}

.sign-off p{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.icons {
    margin-top: 5px;
}

.icons i {
    color: #fff;
    cursor: pointer;
}

.offerings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    flex: 1;
    flex-basis: 300px;
}

.offerings > div {
    margin-right: 20px;
}

.products,
.resources,
.company,
.legal {
    flex: 1;
    color: #fff;
}

h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    margin: 0;
    margin-bottom: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.copyright-call {
    text-align: center;
    margin-top: 20px;
}

.copyright-call p {
    color: #c9c8c8;
}

@media (max-width: 800px) {
    .footer-content {
        flex-direction: column;
    }

    .sauti-info {
        margin-bottom: 20px;
    }

    .offerings {
       grid-template-columns: repeat(1, 1fr);
    }
}

.slider{
    margin-bottom: 20px;
    /*height: 100vh;
    background-color: gray;*/
    position: relative;
  }
  .slider .owl-item.active.center .slider-container{
    transform: scale(1.15);
    opacity: 1;
   /* background-color: black;*/
  }

  @media (max-width: 1024px) {
    .slider .owl-item.active.center {
        transform: scale(0.9);
    }
  }
  
  .slider-container{
    background-color: #444444;
    width:250px;
   /* margin: 50px 15px 90px 15px;*/
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgba(44, 44, 44, 0.49);
    transform: scale(0.9);
    opacity: 0.5;
    transition:  all 0.3s;
  }
  
  @media(max-width: 768px){
    .slider-container{
        width: 200px;
        transform: scale(0.7);
       
    }
  }

 .owl-stage-outer {
    padding: 30px 0;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    text-align: center;

    span {
      position: relative;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: block;
      background: #fff;
      border: 2px solid #ffd150;
      margin: 0 5px;
    }

    .active {
      box-shadow: none;

      span {
        background: #ffd150;
        box-shadow: none;
        height: 12px;
        width: 12px;
        margin-bottom: -1px;
      }
    }
  }
  
.brands .container {
    max-width: 1700px;
    padding: 20px;
}

.brands .container.text-center .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.brands .container.text-center .col {
    flex: 1;
    margin: 20px; 
    text-align: center;
    max-width: 20%; 
}


@media (max-width: 768px) { 
    .brands .container.text-center .col {
        width:100% 
    }
}
@media (min-width: 1200px) {
    .speedy{
        width: 200px;
    }
    .lovo{
        width: 200px;
    }
    .snovio{
        width: 250px;
    }
    .galactic{
        width:300px;
    }
    .think-social{
        width: 300px;
    }
    .multiverse{
        width: 300px;
    }
    .go-charlie{
        width: 300px;
    }
    .genius{
        width: 200px;
    }
    .whisker{
        width: 300px;
    }
}

@media (max-width: 1050px) {
    .speedy{
        width: 200px;
    }
    .lovo{
        width: 200px;
    }
    .snovio{
        width: 200px;
    }
    .galactic{
        width:200px;
    }
    .think-social{
        width: 200px;
    }
    .multiverse{
        width: 200px;
    }
    .go-charlie{
        width: 200px;
    }
    .genius{
        width: 150px;
    }
    .whisker{
        width: 250px;
    }
}

@media (max-width: 768px) {
    .speedy{
        width: 100px;
    }
    .lovo{
        width: 100px;
    }
    .snovio{
        width: 100px;
    }
    .galactic{
        width:120px;
    }
    .think-social{
        width: 120px;
    }
    .multiverse{
        width: 120px;
    }
    .go-charlie{
        width: 120px;
    }
    .genius{
        width: 100px;
    }
    .whisker{
        width: 120px;
    }
}



@media (max-width: 350px) {
    .speedy{
        width: 70px;
    }
    .lovo{
        width: 70px;
    }
    .snovio{
        width: 70px;
    }
    .galactic{
        width:100px;
    }
    .think-social{
        width: 100px;
    }
    .multiverse{
        width: 100px;
    }
    .go-charlie{
        width: 100px;
    }
    .genius{
        width: 70px;
    }
    .whisker{
        width: 120px;
    }
}

